{%extends 'base.html'%}

{%load static%} 
{%block title%} Home |Duna Blog {%endblock%}

{%block body%}
<div class = 'new-post' style="">
	{%for obj in post%}

		<div class = 'post-block'>

			<h2 style="">{{obj.title|title}}</h2>
			<p style="color: blue;">{{obj.body|truncatechars:400}}...</p>
			<a style="text-decoration: none;margin-right: 50px" href="{% url 'viewprofile'%}?user={{obj.profile.user.username}}"> @{{obj.profile.user.username}}</a>

			<div style="display: inline;">
			<p style="text-align: right;display: inline;">{{obj.date|timesince}} Ago</p>
	
			<a href="{{obj.readmore_url}}" style="display: inline;text-align: right;margin-left: 550px;">Read More</a>
			</div>

			



		</div>
			
	
	{%endfor%}
	<div style="left: 40%;position: absolute;">
		<span>
			{%if post.has_previous %}
			<a href="?page=1">&laquo; First</a>
			<a href="?page={{post.previous_page_number}}">prvious</a>
			{% endif %}
		</span>
		<span>
			page{{post.number}} of {{post.paginator.num_pages}}
		</span>
		<span>
		{%if post.has_next %}
		<a href="?page={{post.next_page_number}}">Next</a>
		<a href="?page={{post.paginator.num_pages}}">Last &raquo;</a>

		{%endif%}

		
		</span>
	</div>
</div>
{%endblock%}


