<style type="text/css">
	.form-group{
		border: 1px solid green;
		top: 10%;
		width: 400px;
		margin: auto;
		border-radius: 20px;
		padding: 30px;
		background-color: lightgreen;
	}
	.form-item{
		padding: 30px;
	}
	.form-input{
		width: 250px;
		height: 30px;
		font-family: serif;
		border: 1px solid;
		border-radius: 10px;
		padding: 3px;
		margin-left: 20px;
	}
	#address{
		width: 250px;
		height: 100px;
		font-family: serif;
		border: 1px solid;
		border-radius: 10px;
		padding: 3px;
		margin-left: 10px;
	}
	#bio{
		width: 250px;
		height: 100px;
		font-family: serif;
		border: 1px solid;
		border-radius: 10px;
		padding: 3px;
		margin-left: 10px;
	}
	.form-submit{
		margin:auto;
		height: 50px;
		width: 400px;
		background-color: green;
		border-radius: 30px;
		cursor: pointer;

	}
</style>
<div>
	<form method="post" class = 'form-group'>{%csrf_token%}

		{%for fields in form%}
			{%for error in fields.errors%}
				<span style="color: red">{{error}}</span>
			{%endfor%}
			<div class="form-item">
			<label for = 'fields.id_for_label'>{{fields.label}}</label>
			{{fields}}
			</div>

		{%endfor%}

		<input type="submit" value="Signin" class="form-submit">
		<p style="margin-left: 90px">Already Have Acount? <a href="{%url 'login'%}">Login</a></p>

	</form>
</div>
